<div class="text-center" style="padding-top: 15px">
  <table style="width:80%; margin: 0 auto">
    <tbody>
      <tr *ngFor="let order of orders">
        <td>Código do pedido: {{order.id}}</td>
        <td>Valor total: R$ {{order.valorTotal}}</td>
        <td>Quantidade de itens: {{order.qtdeItens}}</td>
        <td *ngIf="order.nmUsuario != null">Cliente: {{order.nmUsuario}}</td>
        <td>Data: {{order.dtPedido}}</td>
        <td *ngIf="order.nmUsuario != null"><a href="/admin/orders/{{order.id}}">Alterar Status</a></td>
        <td *ngIf="order.nmUsuario == null"><a href="#null">Cancelar Pedido</a></td>
      </tr>
    </tbody>
  </table>
</div>
